.header-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out transform, 0.3s ease-in-out border-color, 0.3s ease-in-out box-shadow;
  z-index: 100;
}

.scrolled .header-outer {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #eee;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 100px;
  max-height: 100px;
  transition: all 0.3s ease-in-out;
}

.scrolled .header-inner {
  max-height: 75px;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.menu-item {
  padding: 0px 30px;
}

.menu-item a {
  transition: 0.3s ease-in-out all;
  color: #333;
  position: relative;
}

.menu-item a:hover {
  color: blueviolet;
}

.menu-item a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0;
  height: 2px;
  background-color: blueviolet;
  transition: 0.3s ease-in-out all;
}

.menu-item a:hover::after {
  width: 100%;
}
